footer {
    
    background-color: rgb(215, 233, 255);
    .contact{
        height: 300px;
        display: flex;
        justify-content:center;
        align-items: center;
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 100px;
            background-color: white;
            padding: 10px 50px;
            border-radius: 10px;
            text-align: center;
        }
    }
    .copyright {
        height: 100px;;
        background-color:#7791b2
    }
}

      
