header {
    text-align: center;
    background-color: #e3f1ff;
    h1 {
        text-align: center;
        margin: 0;
    }
    span {
        display: block;
        text-align: center;
        line-height: 25px;
        span {
            display: inline-block;
            font-weight: bold;
        }
        span.name {
            color: #0b61ff;
        }
    }
    p {
        font-size: 13px;
        text-align: center;
        margin: 30px 0;
    }
}
