header {
    text-align: center;
    background-color: #e3f1ff;
    position: relative;
    padding-top: 10px;
    h1 {
        text-align: center;
        line-height: 90px;
        margin :0;
    }
    .greeting-bubble {
       
        background-image:url(/bubble.svg);
        background-repeat: no-repeat;
        height: 100px;
        background-size: contain;
        background-position: center;
        margin-bottom: 10px;
    }
    span {
        display: block;
        text-align: center;
        line-height: 25px;
        span {
            display: inline-block;
            font-weight: bold;
        }
        span.name {
            color: #0b61ff;
        }
    }
    img {
        height: 7px;
    }
    p {
        font-size: 13px;
        text-align: center;
        margin: 30px 5px;
        display: inline-block;
    }
    button {
        width: 100px;
        position: absolute;
        bottom: 2px;
        left: 50%; 
        transform: translate(-50%, 50%);
        width: 120px;
        height: 40px;
        border-radius: 18px;
        background-color: #0b61fe;
        color: white;
        border: 2px solid white;
    }
}
