@import './variables.scss';

nav {
    display: flex;
    justify-content: space-around; 
    height: 50px;
    align-items: center;
    .portfolio {
        font-size: 12px;
        font-weight: bold;
        color: $brand-color;
    }
    
    div {
        button {
            padding: 5px 20px;
            border-radius: 8px;
            border: 0;
            background-color: $brand-color;
            color: white;
        }  
    }
}





