@import "./variables.scss";

nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;

  .name-container {
    display: flex;
    align-items: center;

    .logo {
        margin-right: 10px;
    }

    .my-name {
      font-size: 18px;
      line-height: 21px;
    }

    .portfolio {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: $brand-color;
    }
  }

  div {
    .button {
      padding: 10px 20px;
      border-radius: 8px;
      border: 0;
      background-color: $brand-color;
      color: white;

      span:first-child {
        margin-right: 8px !important;
      }
    }
  }
}
