@import "./variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 16px;

  @media (min-width: 786px) {
    display: flex;
    justify-content: space-around;
  }

  .nav-name {
    display: none;
  }

  .name-container {
    @media (min-width: 786px) {
      display: flex;
      align-items: center;
    }

    .logo {
      @media (min-width: 786px) {
        margin-right: 10px;
      }
    }

    .my-name {
      @media (min-width: 786px) {
        font-size: 18px;
        line-height: 21px;
      }
    }

    .portfolio {
      @media (min-width: 786px) {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $brand-color;
      }
    }
  }
  .nav-name {
    @media (min-width: 786px) {
      display: inline-block;
    }
  }

  div {
    .button {
      padding: 10px 20px;
      border-radius: 8px;
      border: 0;
      background-color: $brand-color;
      color: white;

      span:first-child {
        margin-right: 8px !important;
      }
    }
  }
}
