@import "./variables.scss";
h2 {
  text-align: center;
  margin-top: 50px;
}

.cards-container {
  .button {
    background-color: $brand-color;
    padding: 8px 30px;
    color: white;
    border-radius: 8px;
    position: absolute;
    bottom: -12px;
    right: 50%;
    transform: translate(50%, -50%);
    border: 0;
    cursor: pointer;

    &:hover {  
      background-color: $brand-color-dark;
    }
  }

  .cards {
    max-width: 650px;
    margin: 0 auto;
    padding: 16px;

    .card {
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      margin-bottom: 40px;
      position: relative;
      padding-bottom: 10px;

      span {
        flex-shrink: 0;
      }

      .text {
        padding: 16px;

        @media (min-width: 768px) {
          border: 10px solid white;
          border-radius: 16px;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
          transition: opacity 0.3s;
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 12px;
          right: 0;
          left: 0;
        }

        .tags {
          color: $brand-color;
          font-weight: bold;
          font-size: 11px;
          line-height: 160%;
        }

        .title {
          font-size: 24px;
          line-height: 160%;
        }

        .description {
          font-weight: 300;
          font-size: 16px;
          line-height: 160%;
        }
      }
      &:hover {
        .text {
          opacity: 1;
        }
      }
    }
  }
}
