@import "./variables.scss";
h2 {
  text-align: center;
  margin-top: 50px;
}

.cards-container {
  .cards-title {
    margin-bottom: 8px;
  }
  
  .cards-subtitle {
    margin-top: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    padding: 0 16px;
  }

  .button {
    background-color: $brand-color;
    padding: 8px 30px;
    color: white;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    max-width: calc(100% - 32px);
    margin: 0 auto 10px;
    position: inherit;

    &:hover {
      background-color: $brand-color-dark;
    }

    @media (min-width: 768px) {
      position: absolute;
      bottom: -22px;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  .cards {
    max-width: 650px;
    margin: 0 auto;
    padding: 16px;

    .card {
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      margin-bottom: 40px;
      position: relative;
      padding-bottom: 10px;

      span {
        flex-shrink: 0;
      }

      .text {
        padding: 16px;

        @media (min-width: 768px) {
          border: 10px solid white;
          border-radius: 16px;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
          transition: opacity 0.3s;
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 12px;
          right: 0;
          left: 0;
        }

        .tags {
          color: $brand-color;
          font-weight: bold;
          font-size: 11px;
          line-height: 160%;

          .tag {
            margin-right: 8px;
          }
        }

        .title {
          font-size: 24px;
          line-height: 160%;
          margin-bottom:10px;
        }

        .description {
          font-weight: 300;
          font-size: 16px;
          line-height: 160%;
        }
      }
      &:hover {
        .text {
          opacity: 1;
        }
      }
    }
  }
}
